language: cpp
sudo: false
#compiler:
  #- gcc
  #- clang
env:
  - BUILD_CONFIG=normal
  - BUILD_CONFIG=gczeal
#os:
  #- linux
  #- osx
cache:
  - ccache
  - apt
addons:
  apt:
    packages:
      - autoconf2.13
      - yasm
      #- gcc-4.8
      #- g++-4.8
matrix:
  include:
    - os: linux
      compiler: clang
      dist: trusty

    - os: osx
      compiler: clang-3.8
      osx_image: xcode7.3
      before_install:
        - wget http://llvm.org/releases/3.8.0/clang+llvm-3.8.0-x86_64-apple-darwin.tar.xz
        - tar xf clang+llvm-3.8.0-x86_64-apple-darwin.tar.xz
        - brew update
        - brew tap homebrew/versions
        - brew unlink autoconf
        - brew install autoconf213
        - brew install yasm mercurial gawk ccache python
      install: export CC=$PWD/clang+llvm-3.8.0-x86_64-apple-darwin/bin/clang CXX=$PWD/clang+llvm-3.8.0-x86_64-apple-darwin/bin/clang++
before_install:
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew update; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew install autoconf213 yasm; fi
before_script:
  - ./configure --debug --engine=spidermonkey --enable-asan $(if [ "$BUILD_CONFIG" == "gczeal" ]; then echo "--enable-gczeal"; fi)
script:
  - make V= -k || true
  - if [ "$BUILD_CONFIG" == "gczeal" ]; then export JS_GC_MAX_ZEAL=1; fi
  - ./deps/spidershim/scripts/run-tests.py
notifications:
  email: true
env:
  global:
    - LANG="en_US.UTF-8"
